<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/stylesheet.css">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
  <title>{{ page.title }}</title>
  {% include analytics.html %}
  </head>
  <body>
    <div class="site">
      <!-- HEADER -->
      <div id="header_wrap" class="outer">
        <header class="inner">
        </header>
      </div>
      <!-- MAIN CONTENT -->
      <div id="main_content_wrap" class="outer">
        <section id="main_content" class="inner">
          {{ content }}
        </section>
      </div>
      <!-- FOOTER  -->
      <div id="footer_wrap" class="outer">
        <footer class="inner">
        </footer>
      </div>
    </div>
  </body>
</html>
